header {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  place-content: flex-start space-evenly;
  background-color: #fff;
  color: #212121;
}
.header__logo {
  margin: 0;
  height: 180px;
  width: auto;
}
.signature__container {
  height: 200px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  place-items: flex-end;
  place-content: center space-evenly;
  color: #fff;
  background-color: #000;
  clip-path: polygon(36% 0, 100% 0%, 100% 100%, 0% 100%);
}
.ofr__logo {
  margin-right: 5px;
  height: 100px;
  width: auto;
  position: relative;
}
.signature {
  font-size: 0.8rem;
  text-align: right;
  margin: 3px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 5px #000;
}
.sub__signature {
  top: 10%;
  margin: 3px;
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-shadow: 0px 0px 5px #000;
}
.title__ctnr {
  margin-top: 40px;
  margin-left: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
.first__title {
  line-height: 0px;
  letter-spacing: 2px;
}
.title__separate {
  height: 5px;
  width: 20%;
  margin-left: 28px;
  border: none;
  background-color: #212121;
  border-radius: 10px;
}
.second__title {
  line-height: 0px;
  margin-left: 100px;
}
.info__capacity--ctnr {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  place-content: flex-start space-evenly;
  bottom: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.info__capacity--el {
  list-style-type: none;
  letter-spacing: 1px;
}
